<div>
		<div class="page page-current">
			<div id="main">
				<div class="layout artist layout-current" data-title="薛之谦">
					<section class="content">

						<div class="artist-header" data-name="薛之谦" data-id="2517">
							<div class="header-bg" data-link="http://musicdata.baidu.com/data2/pic/246669444/246669444.jpg@s_0,w_240" style="background:url(http://musicdata.baidu.com/data2/pic/246669444/246669444.jpg@s_0,w_240) no-repeat center;background-size: cover;"></div>
							<div class="header-mask"></div>
							<div class="artist-header-content">
								<div class="pic">
									<img alt="薛之谦" ng-src="{{img}}">
								</div>
								<h2>薛之谦</h2>
								<div class="artist-header-operate" data-artistid="88">
									<span class="iconfont icon-favor "></span>
								</div>
							</div>
						</div>
						<div class="artist-content">
							<ul class="nav-tab">
								<li class="on log" data-target=".artist-songs" data-log="{&quot;page&quot;:&quot;artist&quot;,&quot;pos&quot;:&quot;tab&quot;,&quot;sub&quot;:&quot;song&quot;}"><span>热门歌曲</span></li>
								<li class="log" data-target=".artist-albums" data-log="{&quot;page&quot;:&quot;artist&quot;,&quot;pos&quot;:&quot;tab&quot;,&quot;sub&quot;:&quot;album&quot;}"><span>专辑</span></li>
								<li class="log" data-target=".artist-similar" data-log="{&quot;page&quot;:&quot;artist&quot;,&quot;pos&quot;:&quot;tab&quot;,&quot;sub&quot;:&quot;similar&quot;}"><span>相似歌手</span></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane artist-songs">

									<div class="playall" m-on="playall" data-id="2517"><span class="iconfont icon-play"></span>播放全部<i>（81首）</i></div>
									<ul class="list">

										<li class="song  log song-100575177 normal url" data-sid="100575177" data-allrate="24,64,128,160" data-charge="0" data-url="/song/100575177/" ng-repeat="b in album">
											<span class="icon-play-state"></span>
												<div class="left" ng-click="Play(b.hash)"> 
													{{b.filename}}
												</div>
											<div class="iconfont icon-mv need-active url" data-url="/mv/100575177"></div>
											<div class="download iconfont icon-download log need-active" data-log="{&quot;pos&quot;:&quot;popdownload&quot;}"></div>
										</li>
										<audio autoplay="autoplay" ng-src="{{Music}}"></audio>
										<li class="load-more need-active">查看更多...</li>
									</ul>
								</div>							
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>